body {
  margin: 40px 0;
  font-family: 'Raleway';
  line-height: 1.4;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

input, textarea {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 16px;
  font-family: 'Raleway';
  outline: none;
}
input:focus + label, textarea:focus + label {
  top: -1rem;
  color: black;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.glyphicon {
  display: block;
}

.group {
  position: relative;
  margin-bottom: 30px;
}
.group.has-error label, .group.has-error .error-message {
  color: #a94442;
}
.group.has-error input {
  border-color: #a94442;
}
.group.has-error .error-message {
  margin-top: 5px;
}

.main-title {
  margin-bottom: 3rem;
}

.list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-component {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.modal-component .header, .modal-component .content, .modal-component .footer {
  padding: 20px;
}
.modal-component .header {
  position: relative;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}
.modal-component .close-modal-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal-component .footer {
  position: relative;
  border-top: 1px solid lightgrey;
  text-align: center;
}
.modal-component .modal-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-component .modal-buttons button {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.modal-component .modal-buttons button:last-of-type {
  margin-left: 10px;
}

.grocery-list-item {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}
.grocery-list-item.purchased {
  background-color: #DDD;
}
.grocery-list-item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.grocery-list-item .item-note {
  margin-top: 10px;
}
.grocery-list-item .item-note .note {
  padding: 10px;
}
