body {
  margin: 40px 0;
  font-family: 'Raleway';
  line-height: 1.4;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 100;
  color: rgba(0, 0, 0, .5);
  transition: all .25s ease-in-out;
}
input, textarea {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  border: 0;
  border-bottom: 1px solid grey;
  font-size: 16px;
  font-family: 'Raleway';
  outline: none;
  &:focus {
    & + label {
      top: -1rem;
      color: black;
      transform: scale(1.10);
      transition: all .25s ease-in-out;
      transform-origin: bottom left;
    }
  }
}
.glyphicon {
  display: block;
}
.group {
  position: relative;
  margin-bottom: 30px;
  &.has-error {
    label, .error-message {
      color: #a94442;
    }
    input {
      border-color: #a94442;
    }
    .error-message {
      margin-top: 5px;
    }
  }
}
.main-title {
  margin-bottom: 3rem;
}
.list-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .75);
}
.modal-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;

  background-color: white;
  border: 1px solid rgba(0, 0, 0, .25);
  border-radius: 5px;
  .header, .content, .footer {
    padding: 20px;
  }
  .header {
    position: relative;
    border-bottom: 1px solid lightgrey;
    text-align: center;
  }
  .close-modal-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .content {
    
  }
  .footer {
    position: relative;
    border-top: 1px solid lightgrey;
    text-align: center;
  }
  .modal-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        flex-basis: 50%;
        &:last-of-type {
          margin-left: 10px;
        }
      }
    }
}
.grocery-list-item {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .25);
  margin-top: 10px;
  
  &.purchased {
    background-color: #DDD;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .item-note {
    margin-top: 10px;
    .note {
      padding: 10px;
    }
  }
}
