<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>PTest</title>
  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,800,900" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>

      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>
  <div id="groceryApp" class="container">
  <h1 class="main-title">Add items to your grocery list</h1>

  <div class="group" :class="{'has-error': !isFormValid}">
    <input v-model="itemTitle" id="itemTitle" type="text" v-on:focus="focused()" v-on:blur="blurred()">
    <label for="itemTitle">Item Name *</label>
    <div class="error-message" v-show="!isFormValid">This field is required</div>
  </div>
  <div class="group">
    <textarea v-model="itemNote" name="addNotes" id="itemNotes"></textarea>
    <label for="itemNotes">Item Description (optional)</label>
  </div>

  <div class="list-info">
    <div v-show="groceryListItems.length === 0">{{noItems}}</div>
    <div class="buttons">
      <button type="button" class="btn btn-primary" @mousedown="addItem()">Add Item</button>
      <button type="button" class="btn btn-success" v-show="groceryListItems.length != 0" @click="showAllItems()">{{allItemsButtonText}}</button>
    </div>
  </div>

  <div class="full-list">
    <h4 v-show="groceryListItems.length != 0">List Count - <span class="label label-primary">{{groceryListItems.length}}</span></h4>
    <ul v-show="showListOfItems">
      <li v-for="(item, index) in groceryListItems" class="grocery-list-item" :key="item.id" :class="{'purchased': groceryListItems[index].isPurchased}">
        <div class="wrapper">
          <span class="title">{{item.title}}</span>
          <div class="actions">
            <button type="button" class="btn btn-primary" v-if="!groceryListItems[index].show" @click="showInfo(index)"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <button type="button" class="btn btn-primary" v-if="groceryListItems[index].show" @click="hideInfo(index)"><span class="glyphicon glyphicon-chevron-up" ></span></button>
            <button type="button" class="btn btn-success" @click="openModal(index, 'edit')"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-danger" @click="openModal(index, 'delete')"><span class="glyphicon glyphicon-trash"></span></button>
            <button type="button" class="btn btn-warning btn-sm" v-if="!groceryListItems[index].isPurchased" @click="togglePurchased(index)">Need It</button>
            <button type="button" class="btn btn-info btn-sm" v-if="groceryListItems[index].isPurchased"  @click="togglePurchased(index)">Got It</button>
          </div>
        </div>
        <div v-show="groceryListItems[index].show" class="item-note">
          <b>Item Notes</b>
          <div class="note">{{item.notes}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div class="modal-overlay" v-show="isDeleteModalOpen || isEditModalOpen" @click="closeModal()"></div>
  <modal-component class="confirm-modal" v-show="isDeleteModalOpen" :close-modal="closeModal" modaL-title="Confirm Removal">
    <div slot="content" class="content">
      <div class="modal-buttons">
        <button type="button" class="btn btn-primary" @click="removeItem()">Are you sure ?</button>
        <button type="button" class="btn btn-success" @click="closeModal()">Cancel</button>
      </div>

    </div>
  </modal-component>
  <modal-component class="edit-modal" modal-title="Edit Item" v-show="isEditModalOpen" :close-modal="closeModal">
    <div slot="content" class="content">
      <div class="group" :class="{'has-error': !isFormValid}">
        <input v-model="itemTitle" id="itemTitle" type="text" v-on:focus="focused()" v-on:blur="blurred()">
        <label for="itemTitle">Item Name *</label>
        <div class="error-message" v-show="!isFormValid">This field is required</div>
      </div>
      <div class="group">
        <textarea v-model="itemNote" name="addNotes" id="itemNotes"></textarea>
        <label for="itemNotes">Item Description (optional)</label>
      </div>
    </div>
    <div slot="footer" class="footer">
      <div class="modal-buttons">
        <button type="button" class="btn btn-primary" @click="updateItem()">Update</button>
        <button type="button" class="btn btn-success" @click="closeModal()">Cancel</button>
      </div>
    </div>
  </modal-component>
</div>
  <script src='https://unpkg.com/vue'></script>
<script src='https://unpkg.com/vee-validate@2.0.0-rc.7'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
